.tooltip {
  position: relative;
  display: inline-block;

  .tooltiptext {
    visibility: hidden;
    background-color: lighten(color(primary), 15%);
    color: #fff;
    font-size: 16px;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 135%;
    left: 50%;
    margin-left: -40px;
    width: 80px;

    &::after {
      @include pseudo;
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: lighten(color(primary), 15%) transparent transparent transparent;
    }
  }

  &:hover .tooltiptext {
    visibility: visible;
  }
  &.login:hover .tooltiptext {
    top: 50%;
    bottom: inherit;
    left: 100%;
    margin-top: -15px;
    margin-left: inherit;
    @include mq(tablet) {
      top: 150%;
      bottom: inherit;
      left: inherit;
      right: 0;
      margin-top: inherit;
    }

    &::after {
      top: 50%;
      left: 0;
      margin-left: -10px;
      margin-top: -4px;
      border-color: transparent lighten(color(primary), 15%) transparent transparent;
      @include mq(tablet) {
        top: -6px;
        right: 8px;
        left: inherit;
        border-color: transparent transparent lighten(color(primary), 15%) transparent;
      }
    }
  }
}